
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
      
    <h2>Faça seu cadastro aqui!</h2>
      <div class="container">
        <form action="/register" method="post">
          <h2>Coloque as informações</h2>
          <p>Seu e-mail</p>
          <input type="email" name="mail" id="mail" placeholder="E-mail">
          <p>Sua senha</p>
          <input type="password" name="pin" id="pin" placeholder="Senha"> <br> <br> <br>
          <button class="submit">Submit</button>
        </form>
        
      </div>
    
</body>
</html>
